:root{
    --round-border: 5px;
    --width-transition-setting: width .5s ease
}

body{
    background-color: lightyellow;
}

.dashboard_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.dashboard_container > h1{
    text-align: center;
}

/*Calendar Styles */
.calendar_title_text{
    margin: 0 12px 0 0;
}
.calendar_title{
    display: flex;
}
.calendar_container{
    width:95vw;
    height: 80vh;
    background-image: linear-gradient(to right, rgb(109,216,251), rgb(186, 243, 239)) ;
    border-radius: var(--round-border);
    padding:16px;
    display: flex;
    flex-direction: column;
    box-shadow: 12px 6px 12px 1px rgba(0, 0, 0, .4);

}
.calendar_days_container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow-y: auto;
}
.calendar_day{
    width: calc((100% - 100px)/ 7);
    height: calc((100% / 5) - 14px);
    overflow-y: auto;
    margin-top: 4px;
    margin-right: 4px;
    background-color: rgb(255, 255, 255,.5) ;
    border:1px solid grey;
    border-radius: var(--round-border);
    padding: 4px;
}
.february_override{
    height: calc((100% / 4) - 14px);
}
.calendar_day:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.day{
    margin:0;
}

/*Modal Styles*/
.basic_modal_styles {
    display:none;
    width:100vw;
    height:100vh;
    z-index: 100;
    background-color: rgb(0,0,0,.5);
    position: fixed;
    top:0;
    left:0;
}
.basic_modal_paper{
    width: 60%;
    height:80%;
    border-radius: var(--round-border);
    padding:8px;
    display: inherit;
    background-color: antiquewhite;
    flex-direction: column;
    margin: auto;
}
.basic_modal_close_btn{
    width: 100%;
    display: contents;
}
#modal_close_btn{
    font-weight: bold;
    text-align: right;
    cursor: pointer;
}
.basic_modal_content{
    flex-grow:1;
}

/*arrow css*/
.arrow_container{
    width:50px;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    margin-left:20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.arrow:hover{
    cursor: pointer;
    border-color: whitesmoke;
}

/*year css*/
.calendar_year_container{
    margin-left: auto;
}
.calendar_year_text{
    margin:0;
}

/*tasks list*/
.tasks_list_container{
    list-style-type: none;
    padding:0;
    margin:0;
}
.task_item{
    border-bottom: 1px solid grey;
}

/*hour breakdown*/
.day_time_breakdown_container{
    height:100%;
    overflow:auto;
    border: 1px solid lightgrey;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    transition: var(--width-transition-setting);
}
.day_time_breakdown_container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.day_hour_container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: 50% 50%;
    height: calc(100% / 6);
    border-bottom: 1px solid lightgrey;
}
.day_hour_container > div:nth-child(1),
.day_hour_container > div:nth-child(3) {
    border-right: 1px solid lightgrey;;
}
.hour_cell > p {
    margin:0;
}
.day_hour_container > div:nth-child(1),
.day_hour_container > div:nth-child(2){
    border-bottom: 1px solid lightgrey;;
}
.hour_cell{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*If you change background grid dimension you have to update this container and calculate based on whole view port*/
.summary_content_outer_shell{
    height: calc(90% - 16px);
    width:80%;
    position: fixed;
    z-index: 10;
    overflow: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "leave-blank data"
}
.summary_content_inner_shell{
    width:100%;
    height: calc((100% / 6) * 24);
    grid-area: data;
    display: grid;
    grid-template-rows: repeat(96, calc(100% / 96));
    grid-auto-columns: 1fr;
}
.summary_day_task{
    border-radius: var(--round-border);
    box-shadow: 6px 6px 12px 1px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.basic_modal_content_and_details_container{
    display: flex;
    flex-grow: 1;
}
.basic_modal_details{
    height:calc(100% - 16px);
    /*background-color: rgba(0,0,0,.5);*/
    width:0px;
    transition: var(--width-transition-setting);
    display: flex;flex-direction: column;
    padding:8px;
}
.summary_content_outer_shell{
    transition: var(--width-transition-setting);
}
.details_times_container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.delay_visibility{
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
.show_visibility{
    opacity: 1;
}

/*plus btn*/
.plus_btn{
    width:25px;
    height:25px;
    border-radius: 50%;
    background-color:darkblue;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:20px;
    transition: box-shadow .5s ease-in-out;
}
.plus_txt{
    font-weight:bold;
    cursor: pointer;
}
.plus_btn:hover{
    transition: all .5s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}
.plus_btn:active{
    transition: all ease-in-out;
    transform: scale(.98);
    background-color: white;
    color:darkblue;
}

/*add task form*/
.add_task_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add_task_btn_container,
.add_task_time_container,
.add_task_field_container{
    width:100%;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-evenly;
}
#task_description{
    flex-grow: 1;
}
.add_task_btn_container > button{
    width:25%;
}
